@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #1f2937;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #4b5563;
        border-radius: 100vh;
        border: 3px solid #4b5563;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #6b7280;
    }
}